<html>
<body>
    <h3>Modelo Predictivo </h3>

<div>
  <form action="/result" method="POST">
    <label for="variable a">variable a: </label>
    <input type="number" id="variable a" name="variable a">
    <br>
    <label for="variable b">variable b: </label>
    <input type="number" id="variable b" name="variable b">
    <br>
    <label for="variable c">variable c: </label>
    <input type="number" id="variable c" name="variable c">
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>